{% load static %}
<html>
    <head></head>
    <style>
        h1{text-align: center; background-color:peachpuff; -webkit-text-fill-color:brown;}
       
        p{ background-color:#faf3e0; -webkit-text-fill-color:olive; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: x-large}
    </style>
    <body>
    <h1> AGS CINEMA THEATRE</h1> 
    
    <img src="{% static 'ags.jpg' %}" style="justify-content: center; display: block; margin-left: auto; margin-right: auto; border: 10px solid gold; height: 55%;" >

    <p>
        AGS Villivakkam is one of the first multiplexes established by AGS Entertainment in Chennai, located at No.1/1, Mettu Street, behind the Villivakkam Bus Depot in Rajiv Gandhi Nagar. 
 It boasts five screens, featuring large-format screens, modern sound systems, and a good show of new releases. 
 It is popular among locals for its comparatively affordable ticket pricing, comfortable reclined seating, and proximity to transport hubs. 
 While most reviews praise its cleanliness, audio-visual experience, and ambience, some patrons point out that parking space and snack/food counters could be improved.  In 2013, AGS Entertainment opened their first cinema theatre in Villivakkam, Chennai. Subsequently, in the following year, they launched AGS OMR, and in 2016, another theater in T Nagar.[3] They eventually opened another theatre in Maduravoyal as well.
    </p>

    </body>
</html>