{% load static %}
<html>
    <head></head>
    <style>
        h1{text-align: center; background-color:#006d77; -webkit-text-fill-color:#f8ed89;}
       
        p{ background-color:#dfffe2; -webkit-text-fill-color:#064420; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: x-large}
    </style>
    <body>
    <h1> INTEGRAL COACH FACTORY </h1> 

    <img src="{% static 'icf.jpg' %}" style="justify-content: center; display: block; margin-left: auto; margin-right: auto; border: 10px solid gold; height: 55%;;" >
    <p>
        The Integral Coach Factory (ICF), located in Perambur, Chennai, is one of the largest and most prestigious railway coach manufacturing units in India, known for its uniqueness and global recognition. Established in 1955, it has grown into a world-class facility that not only caters to the Indian Railways but also exports coaches to several countries, showcasing India’s engineering strength. What makes ICF unique is its ability to produce a wide variety of railway coaches under one roof, ranging from basic passenger coaches to advanced high-speed, luxury, and even self-propelled train sets like the famous Vande Bharat Express. Unlike many other factories, ICF has mastered the art of balancing mass production with innovation,
         ensuring both affordability and world-class quality. Its uniqueness also lies
          in its contribution to the modernization of Indian Railways, as it continuously
           adopts cutting-edge technology, eco-friendly designs, and improved safety 
           features in its manufacturing process. The factory plays a vital role in
            employment generation and industrial growth in Chennai, uplifting thousands of families and supporting ancillary industries in and around the city. With its legacy of excellence, ICF not only fuels the daily journeys of millions across India but also symbolizes India’s capability to design and manufacture advanced railway technology, making it a true pride of the nation.
    </p>

    </body>
</html>