{% load static %}
<html>
    <head></head>
    <style>
        h1{text-align: center; background-color: #e6e6fa; -webkit-text-fill-color: #4b0082;}
       
        p{ background-color:peachpuff; -webkit-text-fill-color: purple; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: x-large}
    </style>
    <body>
    <h1> THE LEGEND SARAVANA STORE'S </h1> 
    <div class="image">
    <img src="{% static 'thelegend.avif' %}" style="justify-content: center; display: block; margin-left: auto; margin-right: auto; border: 10px solid #510b83; height: 55%;;" >
    </div>
    <p>
        Legend Saravana Stores in Padi is not just a shopping centre but a cultural
         landmark that has transformed the lifestyle of people living in and around areas like Villivakkam, Korattur, Anna Nagar, and beyond. Its prime location on the bustling Padi junction makes it easily accessible to thousands of families, turning weekends and festivals into grand shopping outings. What makes it truly unique is the way it blends luxury with affordability—offering everything from budget-friendly household essentials to premium jewellery and designer wear under one majestic roof. The palace-like interiors, glittering chandeliers, gold-toned architecture, and the sheer size of the store make shopping here feel like stepping into a celebration, creating a sense of pride and excitement for local residents. For people in Villivakkam, the store has become a go-to destination not only bec
        ause of its proximity but also because it saves them the 
        need to travel far into the city for variety or quality—they can find it all 
        nearby. Beyond being a retail hub, it has become a social and emotional experience: families
         make memories here
    </p>

    </body>
</html>