{% load static %}
<html>
    <head></head>
    <style>
        h1{text-align: center; background-color: #e3f2fd; -webkit-text-fill-color: #1e3d59;}
       
        p{ background: color #f3e5f5;; -webkit-text-fill-color: #4a235a; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: x-large}
    </style>
    <body>
    <h1> LUCAS TVS</h1> 
    <div class="image">
    <img src="{% static 'lucas.jpg' %}" style="justify-content: center; display: block; margin-left: auto; margin-right: auto; border: 10px solid gold; height: 55%;;" >
    </div>
    <p>
        Lucas TVS in Villivakkam is a renowned name in the automotive electrical industry, recognized for its high-quality starters, alternators, ignition systems, and other
         essential components for motorcycles and vehicles. As part of the prestigious TVS Group in collaboration with Lucas UK, the company carries a legacy of over six decades,
          combining experience with innovation to deliver reliable products and services.The Villivakkam facility, along with its authorized service centers, provides customers with
           easy access to genuine products and professional support. Whether it’s servicing a vehicle, replacing components, or seeking expert guidance, Lucas TVS is known for its dedication 
           to quality and customer satisfaction. The staff are well-trained and committed to offering smooth, efficient service, ensuring that every customer’s needs are met with care.
       Lucas TVS also stands out for its continuous innovation, upgrading technologies to meet modern automotive demands. For the people of Villivakkam, it is not just a service center but a
     trusted destination where quality, reliability, and expertise come together. Whether you own a motorbike or a car, Lucas TVS remains a dependable choice for durable electrical solutions, 
     earning respect and loyalty in the local community.
    </p>

    </body>
</html>