{% load static %}
<html>
    <head></head>
    <style>
        h1{text-align: center; background-color: #b3e5fc; -webkit-text-fill-color: #2c2c2c;}
       
        p{ background-color:#dff9fb; -webkit-text-fill-color: #1a237e; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: x-large}
    </style>
    <body>
    <h1> VILLIVAKKAM RAILWAY STATION  </h1> 
   
    <img src="{% static 'rail.jpg' %}" style="justify-content: center; display: block; margin-left: auto; margin-right: auto; border: 10px solid gold; height: 55%;;" >
    
    <p>
       Villivakkam Railway Station is one of the most important suburban railway stations in Chennai, serving as a vital hub that connects residential, 
       industrial, and commercial areas to the rest of the city. Located strategically on the Chennai Central–Arakkonam line, it plays a major role in 
       easing daily travel for thousands of commuters from Villivakkam, Kolathur, Padi, and nearby neighborhoods. The station’s importance lies in its role
        as both a transit point for local passengers and a feeder station to central Chennai, reducing the pressure on bigger junctions like Chennai Central 
        and Egmore. Over the years, Villivakkam Railway Station has not only supported the working population but also contributed to the economic growth of 
        the region by improving accessibility to factories, offices, and markets in North and West Chennai. Its potential lies in the fact that with modernization, 
        increased train frequency, and better infrastructure, it can emerge as a mini junction that boosts connectivity for the fast-growing suburbs. Given Villivakkam’s
         rising population density and its proximity to busy hubs like Anna Nagar, Ambattur, and Padi, future upgrades such as integration with metro services, improved parking,
          and better passenger amenities could transform Villivakkam Railway Station into a model suburban station, further strengthening its role as a lifeline for daily commuters and 
          a driver of urban development in Chennai
    </p>

    </body>
</html>